openapi: 3.0.1
info:
  description: >-
    **Versão: 0.4.339 - 02/13/2026 05:25 PM** - _confira o que mudou na [página
    de Notícias](http://dadosabertos.camara.leg.br/news/noticias.html)_


    Bem vindo à nova versão do serviço **Dados Abertos** da Câmara dos
    Deputados!


    Esta versão pode entregar dados puros em formatos JSON e XML, e tenta se
    aderir ao máximo à arquitetura REST.


    Nesta página você pode conhecer e experimentar as URLs de acesso aos dados,
    os parâmetros de *query string* que podem ser aplicados para filtrar e
    selecionar resultados, e as estruturas de dados que são retornadas.


    Além do método HTTP GET, você também pode usar o método HEAD com qualquer
    dos serviços.


    Por padrão, todos os serviços de listagens retornam 15 itens, e o limite por
    requisição é de 100 itens.

     **ATENÇÃO:** Esta versão é ainda incompleta, sujeita a mudanças e não substitui a [versão original do **Dados Abertos**](http://www2.camara.leg.br/transparencia/dados-abertos/dados-abertos-legislativo). Caso você encontre problemas ou queira dar sugestões, por favor entre em [contato](https://dadosabertos.camara.leg.br/contact/contact.html).
  title: Novo Dados Abertos
  version: v1.0
servers:
  - url: https://dadosabertos.camara.leg.br/api/v2/
tags:
  - name: Deputados
  - name: Proposições
  - name: Votações
  - name: Órgãos
  - name: Partidos
  - name: Legislaturas
  - name: Blocos
  - name: Frentes
  - name: Grupos
  - name: Eventos
  - name: Referências
paths:
  /blocos:
    get:
      description: >-
        Nas atividades parlamentares, partidos podem se juntar em __blocos
        partidários__. Quando associados, os partidos passam a trabalhar como se
        fossem um "partidão", com um só líder e um mesmo conjunto de
        vice-líderes.


        Os blocos só podem existir até o fim da legislatura em que foram
        criados: na legislatura seguinte, os mesmos partidos, se associados,
        formam um novo bloco.


        Este recurso é uma lista dos blocos em atividade no momento da
        requisição. Se forem passados números de legislaturas com o parâmetro
        _idLegislatura_, são listados também os blocos formados e extintos
        nessas legislaturas.
      operationId: getBlocos
      parameters:
        - description: >-
            Número(s) identificador(es) de um ou mais bloco(s), separados por
            vírgulas.
          explode: false
          in: query
          name: id
          required: false
          schema:
            type: array
          style: form
        - description: >-
            Número(s) identificador(es) de uma ou mais legislatura(s), separados
            por vírgulas. Se presente, faz com que sejam retornados todos os
            blocos que existiram nessa(s) legislatura(s).
          explode: false
          in: query
          name: idLegislatura
          required: false
          schema:
            type: array
          style: form
        - description: >-
            Número da página de resultados, a partir de 1, que se deseja obter
            com a requisição, contendo o número de itens definido pelo parâmetro
            itens. Se omitido, assume o valor 1.
          in: query
          name: pagina
          required: false
          schema:
            type: integer
            format: int32
        - description: >-
            Número máximo de itens na página que se deseja obter com esta
            requisição.
          in: query
          name: itens
          required: false
          schema:
            type: integer
            format: int32
        - description: >-
            O sentido da ordenação: `asc` para A a Z ou 0 a 9, e `desc` para Z a
            A ou 9 a 0.
          in: query
          name: ordem
          required: false
          schema:
            type: string
            default: ASC
        - description: >-
            Nome do campo pelo qual a lista será ordenada: `idLegislatura`, `id`
            ou `nome`.
          in: query
          name: ordenarPor
          required: false
          schema:
            type: string
            default: nome
        - in: header
          name: Accept
          schema:
            type: string
            enum:
              - application/json, application/xml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoBloco'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoBloco'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoBloco'
          description: Lista retornada com sucesso
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoBloco'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoBloco'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoBloco'
          description: Requisição inválida
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoBloco'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoBloco'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoBloco'
          description: Não encontrado
      summary: Lista de dados sobre os blocos partidários
      tags:
        - Blocos
  /blocos/{id}:
    get:
      description: >-
        Retorna informações sobre o bloco identificado por `{id}` além daquelas
        obtidas na listagem.
      operationId: obterBlocoID
      parameters:
        - description: Número identificador do bloco de partidos.
          in: path
          name: id
          required: true
          schema:
            type: integer
            format: int64
        - in: header
          name: Accept
          schema:
            type: string
            enum:
              - application/json, application/xml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoBloco'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoBloco'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoBloco'
          description: Lista retornada com sucesso
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoBlocoID'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoBlocoID'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoBlocoID'
          description: Requisição inválida
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoBlocoID'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoBlocoID'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoBlocoID'
          description: Não encontrado
      summary: Informações sobre um bloco partidário específico
      tags:
        - Blocos
  /blocos/{id}/partidos:
    get:
      description: >-
        Lista em que cada item contém os identificadores básicos de cada partido
        integrante do bloco identificado por {id}.
      operationId: obterBlocoIDPartidos
      parameters:
        - description: Número identificador do bloco de partidos.
          in: path
          name: id
          required: true
          schema:
            type: integer
            format: int64
        - description: >-
            Data e hora, em formato `AAAA-MM-DDTHH:mm`, na qual se deseja saber
            os partidos que faziam parte do bloco `{id}`. Se omitida, é
            retornada a composição no momento da requisição.
          in: query
          name: data
          required: false
          schema:
            type: string
        - in: header
          name: Accept
          schema:
            type: string
            enum:
              - application/json, application/xml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoBloco'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoBloco'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoBloco'
          description: Lista retornada com sucesso
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoPartidos'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoPartidos'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoPartidos'
          description: Requisição inválida
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoPartidos'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoPartidos'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoPartidos'
          description: Não encontrado
      summary: Lista de partidos do bloco.
      tags:
        - Blocos
  /deputados:
    get:
      description: >-
        Retorna uma lista de dados básicos sobre deputados que estiveram em
        exercício parlamentar em algum intervalo de tempo.


        Se não for passado um parâmetro de tempo, como `idLegislatura` ou
        `dataInicio`, a lista enumerará somente os deputados _em exercício no
        momento da requisição_.
      operationId: obterDeputados
      parameters:
        - description: Número(s) identificador(es) de um deputado, separados por vírgulas.
          explode: false
          in: query
          name: id
          required: false
          schema:
            type: array
          style: form
        - description: Parte nome parlamentar.
          in: query
          name: nome
          required: false
          schema:
            type: string
        - description: >-
            Número(s) identificador(es) de uma ou mais legislatura(s) de que os
            parlamentares tenham participado, separados por vírgulas.
          explode: false
          in: query
          name: idLegislatura
          required: false
          schema:
            type: array
          style: form
        - description: >-
            Uma ou mais sigla(s) de unidades federativas (estados e Distrito
            Federal). Uma lista de siglas válidas pode ser obtida em
            `/referencias/deputados/siglaUf`. Se ausente, serão retornados
            deputados de todos os estados.
          explode: false
          in: query
          name: siglaUf
          required: false
          schema:
            type: array
          style: form
        - description: >-
            Uma ou mais sigla(s) de partidos aos quais sejam filiados os
            deputados. Para obter as siglas válidas, consulte `/partidos`.
            __Atenção:__ partidos diferentes podem usar a mesma sigla em
            diferentes legislaturas!
          explode: false
          in: query
          name: siglaPartido
          required: false
          schema:
            type: array
          style: form
        - description: >-
            Letra que designe o gênero dos parlamentares que se deseja buscar,
            sendo M para masculino e F para feminino
          in: query
          name: siglaSexo
          required: false
          schema:
            type: string
        - description: >-
            Número da página de resultados, a partir de 1, que se deseja obter
            com a requisição, contendo o número de itens definido pelo parâmetro
            itens. Se omitido, assume o valor 1.
          in: query
          name: pagina
          required: false
          schema:
            type: integer
            format: int32
        - description: >-
            Número máximo de itens na página que se deseja obter com esta
            requisição.
          in: query
          name: itens
          required: false
          schema:
            type: integer
            format: int32
        - description: Data de início de um intervalo de tempo, no formato `AAAA-MM-DD`.
          in: query
          name: dataInicio
          required: false
          schema:
            type: string
        - description: Data de término de um intervalo de tempo, no formato `AAAA-MM-DD`.
          in: query
          name: dataFim
          required: false
          schema:
            type: string
        - description: >-
            O sentido da ordenação: `asc` para A a Z ou 0 a 9, e `desc` para Z a
            A ou 9 a 0.
          in: query
          name: ordem
          required: false
          schema:
            type: string
            default: ASC
        - description: >-
            Nome do campo pelo qual a lista deve ser ordenada: `id`,
            `idLegislatura`, `nome`, `siglaUF` ou `siglaPartido`
          in: query
          name: ordenarPor
          required: false
          schema:
            type: string
            default: nome
        - in: header
          name: Accept
          schema:
            type: string
            enum:
              - application/json, application/xml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoDeputado'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoDeputado'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoDeputado'
          description: Lista retornada com sucesso
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoDeputado'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoDeputado'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoDeputado'
          description: Requisição inválida
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoDeputado'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoDeputado'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoDeputado'
          description: Não encontrado
      summary: Listagem e busca de deputados, segundo critérios
      tags:
        - Deputados
  /deputados/{id}:
    get:
      description: ' Retorna os dados cadastrais de um parlamentar identificado por `{id}` que, em algum momento da história e por qualquer período, entrou em exercício na Câmara.'
      operationId: obterDeputadoID_1
      parameters:
        - description: Identificador numérico do parlamentar.
          in: path
          name: id
          required: true
          schema:
            type: integer
            format: int64
        - in: header
          name: Accept
          schema:
            type: string
            enum:
              - application/json, application/xml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoID'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoID'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoID'
          description: Lista retornada com sucesso
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoID'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoID'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoID'
          description: Requisição inválida
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoID'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoID'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoID'
          description: Não encontrado
      summary: Informações detalhadas sobre um deputado específico
      tags:
        - Deputados
  /deputados/{id}/despesas:
    get:
      description: >-
        Dá acesso aos registros de pagamentos e reembolsos feitos pela Câmara em
        prol do deputado identificado por `{id}`, a título da Cota para
        Exercício da Atividade Parlamentar, a chamada "cota parlamentar".


        A lista pode ser filtrada por mês, ano, legislatura, CNPJ ou CPF de um
        fornecedor.


        Se não forem passados os parâmetros de tempo, o serviço retorna os dados
        dos __seis meses anteriores à requisição__.
      operationId: getDeputadoDespesas
      parameters:
        - description: Identificador numérico do parlamentar.
          in: path
          name: id
          required: true
          schema:
            type: integer
            format: int64
        - description: >-
            Número(s) de uma ou mais legislatura(s), separados por vírgulas, em
            que tenham ocorrido as despesas.
          explode: false
          in: query
          name: idLegislatura
          required: false
          schema:
            type: array
          style: form
        - description: Um ou mais ano(s) de ocorrência das despesas.
          explode: false
          in: query
          name: ano
          required: false
          schema:
            type: array
          style: form
        - description: Um ou mais número(s) do(s) mês(es) de ocorrência das despesas.
          explode: false
          in: query
          name: mes
          required: false
          schema:
            type: array
          style: form
        - description: >-
            CNPJ de uma pessoa jurídica, ou CPF de uma pessoa física,
            fornecedora do produto ou serviço (apenas números)
          in: query
          name: cnpjCpfFornecedor
          required: false
          schema:
            type: string
        - description: >-
            Número da página de resultados, a partir de 1, que se deseja obter
            com a requisição, contendo o número de itens definido pelo parâmetro
            itens. Se omitido, assume o valor 1.
          in: query
          name: pagina
          required: false
          schema:
            type: integer
            format: int32
        - description: >-
            Número máximo de itens na página que se deseja obter com esta
            requisição.
          in: query
          name: itens
          required: false
          schema:
            type: integer
            format: int32
        - description: >-
            O sentido da ordenação: `asc` para A a Z ou 0 a 9, e `desc` para Z a
            A ou 9 a 0.
          in: query
          name: ordem
          required: false
          schema:
            type: string
            default: ASC
        - description: >-
            Nome do campo pelo qual a lista deverá ser ordenada: qualquer um dos
            campos do retorno, e também `idLegislatura`
          in: query
          name: ordenarPor
          required: false
          schema:
            type: string
            default: ano
        - in: header
          name: Accept
          schema:
            type: string
            enum:
              - application/json, application/xml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoDespesas'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoDespesas'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoDespesas'
          description: Lista retornada com sucesso
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoDespesas'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoDespesas'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoDespesas'
          description: Requisição inválida
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoDespesas'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoDespesas'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoDespesas'
          description: Não encontrado
      summary: As despesas com exercício parlamentar do deputado
      tags:
        - Deputados
  /deputados/{id}/discursos:
    get:
      description: >+
        Retorna uma lista de informações sobre os pronunciamentos feitos pelo
        deputado identificado por {id} que tenham sido registrados, em quaisquer
        eventos, nos sistemas da Câmara.


        Caso os parâmetros de tempo (`dataInicio`, `dataFim` e `idLegislatura`)
        não sejam configurados na requisição, são buscados os discursos
        ocorridos nos sete dias anteriores ao da requisição.

      operationId: getDeputadoDiscursos_1
      parameters:
        - description: Identificador numérico do parlamentar.
          in: path
          name: id
          required: true
          schema:
            type: integer
            format: int64
        - description: >-
            Número da(s) legislatura(s), separados por vírgulas, às quais os
            dados buscados devem corresponder.
          explode: false
          in: query
          name: idLegislatura
          required: false
          schema:
            type: array
          style: form
        - description: Data de início de um intervalo de tempo, no formato `AAAA-MM-DD`.
          in: query
          name: dataInicio
          required: false
          schema:
            type: string
        - description: Data de término de um intervalo de tempo, no formato `AAAA-MM-DD`.
          in: query
          name: dataFim
          required: false
          schema:
            type: string
        - description: >-
            Qual dos elementos da representação deverá ser usado para aplicar
            ordenação à lista.
          in: query
          name: ordenarPor
          required: false
          schema:
            type: string
            default: dataHoraInicio
        - description: >-
            O sentido da ordenação: `asc` para A a Z ou 0 a 9, e `desc` para Z a
            A ou 9 a 0.
          in: query
          name: ordem
          required: false
          schema:
            type: string
            default: DESC
        - description: >-
            Número máximo de itens na página que se deseja obter com esta
            requisição.
          in: query
          name: itens
          required: false
          schema:
            type: integer
            format: int32
        - description: >-
            Número da página de resultados, a partir de 1, que se deseja obter
            com a requisição, contendo o número de itens definido pelo parâmetro
            itens. Se omitido, assume o valor 1.
          in: query
          name: pagina
          required: false
          schema:
            type: integer
            format: int32
        - in: header
          name: Accept
          schema:
            type: string
            enum:
              - application/json, application/xml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoDiscurso'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoDiscurso'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoDiscurso'
          description: Lista retornada com sucesso
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoDiscurso'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoDiscurso'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoDiscurso'
          description: Requisição inválida
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoDiscurso'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoDiscurso'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoDiscurso'
          description: Não encontrado
      summary: Os discursos feitos por um deputado em eventos diversos
      tags:
        - Deputados
  /deputados/{id}/eventos:
    get:
      description: >-
        Retorna uma lista de objetos `evento` nos quais a participação do
        parlamentar identificado por `{id}` era ou é prevista.


        Um período de tempo pode ser delimitado para a busca.


        Se não forem passados parâmetros de tempo, são retornados os eventos num
        período de __cinco dias__, sendo dois antes e dois depois do dia da
        requisição.


        Os itens podem ser ordenados por `id`, `siglaOrgao` ou `dataHoraInicio`.
      operationId: getEvento
      parameters:
        - description: O identificador numérico do parlamentar.
          in: path
          name: id
          required: true
          schema:
            type: integer
            format: int64
        - description: Data de início de um intervalo de tempo, no formato `AAAA-MM-DD`.
          in: query
          name: dataInicio
          required: false
          schema:
            type: string
        - description: Data de término de um intervalo de tempo, no formato `AAAA-MM-DD`.
          in: query
          name: dataFim
          required: false
          schema:
            type: string
        - description: >-
            Número da página de resultados, a partir de 1, que se deseja obter
            com a requisição, contendo o número de itens definido pelo parâmetro
            itens. Se omitido, assume o valor 1.
          in: query
          name: pagina
          required: false
          schema:
            type: integer
            format: int32
        - description: >-
            Número máximo de itens na página que se deseja obter com esta
            requisição.
          in: query
          name: itens
          required: false
          schema:
            type: integer
            format: int32
        - description: >-
            O sentido da ordenação: `asc` para A a Z ou 0 a 9, e `desc` para Z a
            A ou 9 a 0.
          in: query
          name: ordem
          required: false
          schema:
            type: string
            default: ASC
        - description: >-
            Qual dos elementos da representação deverá ser usado para aplicar
            ordenação à lista.
          in: query
          name: ordenarPor
          required: false
          schema:
            type: string
            default: dataHoraInicio
        - in: header
          name: Accept
          schema:
            type: string
            enum:
              - application/json, application/xml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoEventos'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoEventos'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoEventos'
          description: Lista retornada com sucesso
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoEventos'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoEventos'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoEventos'
          description: Requisição inválida
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoEventos'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoEventos'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoEventos'
          description: Não encontrado
      summary: Uma lista de eventos com a participação do parlamentar
      tags:
        - Deputados
  /deputados/{id}/frentes:
    get:
      description: >+
        Retorna uma lista de informações básicas sobre as frentes parlamentares
        das quais o parlamentar identificado por `{id}` seja membro, ou, no caso
        de frentes existentes em legislaturas anteriores, tenha encerrado a
        legislatura como integrante.

      operationId: getDeputadoDiscursos
      parameters:
        - description: O identificador numérico do parlamentar.
          in: path
          name: id
          required: true
          schema:
            type: integer
            format: int64
        - in: header
          name: Accept
          schema:
            type: string
            enum:
              - application/json, application/xml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoIdDeputadoMembro'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoIdDeputadoMembro'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoIdDeputadoMembro'
          description: Lista retornada com sucesso
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoIdDeputadoMembro'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoIdDeputadoMembro'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoIdDeputadoMembro'
          description: Requisição inválida
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoIdDeputadoMembro'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoIdDeputadoMembro'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoIdDeputadoMembro'
          description: Não encontrado
      summary: As frentes parlamentares das quais um deputado é integrante
      tags:
        - Deputados
  /deputados/{id}/historico:
    get:
      description: >+
        Um deputado pode, no meio de uma legislatura, mudar de partido ou de
        nome parlamentar, entrar em licença, ser afastado ou substituir outro
        deputado. Como essas mudanças se refletem em votações, ou na autoria e
        relatoria de proposições, pode se tornar difícil identificar um mesmo
        parlamentar em diferentes momentos de sua atuação na Câmara.


        Este serviço retorna uma listagem com as diferentes situações de
        exercício parlamentar do deputado identificado por `{id}`, mesmo que a
        alteração registrada não tenha afetado o andamento do mandato.

      operationId: getDeputadoHistorico
      parameters:
        - description: Identificador numérico do parlamentar.
          in: path
          name: id
          required: true
          schema:
            type: integer
            format: int64
        - in: header
          name: Accept
          schema:
            type: string
            enum:
              - application/json, application/xml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoHistorico'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoHistorico'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoHistorico'
          description: Lista retornada com sucesso
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoHistorico'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoHistorico'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoHistorico'
          description: Requisição inválida
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoHistorico'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoHistorico'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoHistorico'
          description: Não encontrado
      summary: Lista de mudanças no exercício parlamentar de um deputado
      tags:
        - Deputados
  /deputados/{id}/mandatosExternos:
    get:
      description: >-
        Retorna uma lista em que cada item traz informações básicas sobre um
        cargo para o qual o parlamentar identificado por {id} tenha sido eleito,
        em sua carreira política fora da Câmara dos Deputados. Estes dados são
        fornecidos pelo Tribunal Superior Eleitoral. A lista vem ordenada
        cronologicamente, por padrão.
      operationId: buscar_1
      parameters:
        - description: O identificador numérico do parlamentar.
          in: path
          name: id
          required: true
          schema:
            type: integer
            format: int64
        - in: header
          name: Accept
          schema:
            type: string
            enum:
              - application/json, application/xml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoMandatoExterno'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoMandatoExterno'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoMandatoExterno'
          description: Lista retornada com sucesso
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoMandatoExterno'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoMandatoExterno'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoMandatoExterno'
          description: Requisição inválida
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoMandatoExterno'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoMandatoExterno'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoMandatoExterno'
          description: Não encontrado
      summary: Outros cargos eletivos já exercidos pelo parlamentar em sua carreira.
      tags:
        - Deputados
  /deputados/{id}/ocupacoes:
    get:
      description: >-
        Enumera as atividades profissionais ou ocupacionais que o deputado
        identificado por `{id}` já teve em sua carreira e declarou à Câmara dos
        Deputados.


        *ATENÇÃO:* Há problemas reconhecidos de estruturação nesses dados. Os
        casos encontrados podem ser reportados ao Centro de Documentação e
        Informação da Câmara, por meio do endereço
        https://camara.leg.br/faleconosco .
      operationId: getOcupacoesDeputados
      parameters:
        - description: O identificador numérico da entidade.
          in: path
          name: id
          required: true
          schema:
            type: integer
            format: int64
        - in: header
          name: Accept
          schema:
            type: string
            enum:
              - application/json, application/xml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoOcupacoesDeputado'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoOcupacoesDeputado'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoOcupacoesDeputado'
          description: Lista retornada com sucesso
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoOcupacoesDeputado'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoOcupacoesDeputado'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoOcupacoesDeputado'
          description: Requisição inválida
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoOcupacoesDeputado'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoOcupacoesDeputado'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoOcupacoesDeputado'
          description: Não encontrado
      summary: Os empregos e atividades que o(a) deputado(a) já teve
      tags:
        - Deputados
  /deputados/{id}/orgaos:
    get:
      description: >-
        Retorna uma lista de órgãos, como as comissões e procuradorias, dos
        quais o deputado identificado por `{id}` participa ou participou durante
        um intervalo de tempo.


        Cada item identifica um órgão, o cargo ocupado pelo parlamentar neste
        órgão (como presidente, vice-presidente, titular ou suplente) e as datas
        de início e fim da ocupação deste cargo.


        Se não for passado algum parâmetro de tempo, são retornados os órgãos
        ocupados pelo parlamentar __no momento da requisição__. Neste caso a
        lista será vazia se o deputado não estiver em exercício.
      operationId: getDeputadoOrgaos
      parameters:
        - description: O identificador numérico do parlamentar.
          in: path
          name: id
          required: true
          schema:
            type: integer
            format: int64
        - description: Data de início de um intervalo de tempo, no formato `AAAA-MM-DD`.
          in: query
          name: dataInicio
          required: false
          schema:
            type: string
        - description: Data de término de um intervalo de tempo, no formato `AAAA-MM-DD`.
          in: query
          name: dataFim
          required: false
          schema:
            type: string
        - description: >-
            Número da página de resultados, a partir de 1, que se deseja obter
            com a requisição, contendo o número de itens definido pelo parâmetro
            itens. Se omitido, assume o valor 1.
          in: query
          name: pagina
          required: false
          schema:
            type: integer
            format: int32
        - description: >-
            Número máximo de itens na página que se deseja obter com esta
            requisição.
          in: query
          name: itens
          required: false
          schema:
            type: integer
            format: int32
        - description: >-
            O sentido da ordenação: `asc` para A a Z ou 0 a 9, e `desc` para Z a
            A ou 9 a 0.
          in: query
          name: ordem
          required: false
          schema:
            type: string
            default: ASC
        - description: >-
            Nome do campo de dados pelo qual a lista deve ser ordenada:
            `idOrgao`, `siglaOrgao`, `nomeOrgao`, `titulo`, `dataInicio` ou
            `dataFim`
          in: query
          name: ordenarPor
          required: false
          schema:
            type: string
            default: dataInicio
        - in: header
          name: Accept
          schema:
            type: string
            enum:
              - application/json, application/xml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoOrgaos'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoOrgaos'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoOrgaos'
          description: Lista retornada com sucesso
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoOrgaos'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoOrgaos'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoOrgaos'
          description: Requisição inválida
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoOrgaos'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoOrgaos'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoOrgaos'
          description: Não encontrado
      summary: Os órgãos dos quais um deputado é integrante
      tags:
        - Deputados
  /deputados/{id}/profissoes:
    get:
      description: >+
        Retorna uma lista de dados sobre profissões que o parlamentar
        identificado por `{id}` declarou à Câmara que já exerceu ou que pode
        exercer pela sua formação e/ou experiência.

      operationId: getDeputadoProfissao
      parameters:
        - description: O identificador numérico do parlamentar.
          in: path
          name: id
          required: true
          schema:
            type: integer
            format: int64
        - in: header
          name: Accept
          schema:
            type: string
            enum:
              - application/json, application/xml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoProfissoes'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoProfissoes'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoProfissoes'
          description: Lista retornada com sucesso
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoProfissoes'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoProfissoes'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoProfissoes'
          description: Requisição inválida
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoProfissoes'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoProfissoes'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoDeputadoProfissoes'
          description: Não encontrado
      summary: >-
        As profissões que o parlamentar declarou à Câmara que já exerceu ou que
        pode exercer pela sua formação e/ou experiência
      tags:
        - Deputados
  /eventos:
    get:
      description: >-
        Retorna uma lista cujos elementos trazem informações básicas sobre
        eventos dos órgãos legislativos da Câmara, previstos ou já ocorridos, em
        um certo intervalo de tempo.


        Esse intervalo pode ser configurado pelos parâmetros de data e hora
        listados abaixo. Se nenhum for passado, são listados eventos dos cinco
        dias anteriores, dos cinco dias seguintes e do próprio dia em que é
        feita a requisição.
      operationId: getEventos
      parameters:
        - description: >-
            Identificador(es) numérico(s) de um ou mais eventos, separados por
            vírgulas.
          explode: false
          in: query
          name: id
          required: false
          schema:
            type: array
          style: form
        - description: >-
            Um ou mais identificador(es) numérico(s) do(s) tipo(s) de evento que
            se deseja obter. Os valores válidos podem ser obtidos por uma
            requisição a `/referencias/tiposEvento`.
          explode: false
          in: query
          name: codTipoEvento
          required: false
          schema:
            type: array
          style: form
        - description: >-
            Um ou mais identificador(es) numéricos de tipo(s) de situação de
            evento, separados por vírgula. Valores válidos podem ser obtidos em
            `/referencias/situacoesEvento`.
          explode: false
          in: query
          name: codSituacao
          required: false
          schema:
            type: array
          style: form
        - description: >-
            Um ou mais identificador(es) numérico(s) de tipo(s) de órgão(s)
            realizadores dos eventos que se deseja obter, separados por vírgula.
            Os valores válidos podem ser obtidos em `/referencias/tiposOrgao`.
          explode: false
          in: query
          name: codTipoOrgao
          required: false
          schema:
            type: array
          style: form
        - description: >-
            Um ou mais identificador(es) numérico(s) de órgão(s), separados por
            vírgula. Os identificadores podem ser obtidos em uma requisição a
            `/orgaos`.
          explode: false
          in: query
          name: idOrgao
          required: false
          schema:
            type: array
          style: form
        - description: Data de início de um intervalo de tempo, no formato `AAAA-MM-DD`.
          in: query
          name: dataInicio
          required: false
          schema:
            type: string
        - description: Data de término de um intervalo de tempo, no formato `AAAA-MM-DD`.
          in: query
          name: dataFim
          required: false
          schema:
            type: string
        - description: >-
            Hora inicial de um intervalo de tempo, no formato `hh:mm`, em
            horário de Brasília.
          in: query
          name: horaInicio
          required: false
          schema:
            type: string
        - description: >-
            Hora final de um intervalo de tempo, no formato `hh:mm`, em horário
            de Brasília.
          in: query
          name: horaFim
          required: false
          schema:
            type: string
        - description: >-
            Número da página de resultados, a partir de 1, que se deseja obter
            com a requisição, contendo o número de itens definido pelo parâmetro
            itens. Se omitido, assume o valor 1.
          in: query
          name: pagina
          required: false
          schema:
            type: integer
            format: int32
        - description: >-
            Número máximo de itens na página que se deseja obter com esta
            requisição.
          in: query
          name: itens
          required: false
          schema:
            type: integer
            format: int32
        - description: >-
            O sentido da ordenação: `asc` para A a Z ou 0 a 9, e `desc` para Z a
            A ou 9 a 0.
          in: query
          name: ordem
          required: false
          schema:
            type: string
            default: ASC
        - description: >-
            Nome do campo pelo qual a lista deve ser ordenada: `id`,
            `dataHoraInicio`, `dataHoraFim`, `descricaoSituacao`,
            `descricaoTipo` ou `titulo`
          in: query
          name: ordenarPor
          required: false
          schema:
            type: string
            default: dataHoraInicio
        - in: header
          name: Accept
          schema:
            type: string
            enum:
              - application/json, application/xml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoEventos'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoEventos'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoEventos'
          description: Lista retornada com sucesso
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoEventos'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoEventos'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoEventos'
          description: Requisição inválida
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoEventos'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoEventos'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoEventos'
          description: Não encontrado
      summary: Lista de eventos ocorridos ou previstos nos diversos órgãos da Câmara
      tags:
        - Eventos
  /eventos/{id}:
    get:
      description: >-
        Retorna um conjunto detalhado de informações sobre o evento da Câmara
        identificado por `id`.
      operationId: getEventos_1
      parameters:
        - description: O identificador numérico do evento do qual se deseja informações
          in: path
          name: id
          required: true
          schema:
            type: integer
            format: int64
        - in: header
          name: Accept
          schema:
            type: string
            enum:
              - application/json, application/xml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoEventosID'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoEventosID'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoEventosID'
          description: Lista retornada com sucesso
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoEventosID'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoEventosID'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoEventosID'
          description: Requisição inválida
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoEventosID'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoEventosID'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoEventosID'
          description: Não encontrado
      summary: Informações detalhadas sobre um evento específico
      tags:
        - Eventos
  /eventos/{id}/deputados:
    get:
      description: >-
        Retorna uma lista de dados resumidos sobre deputados participantes do
        evento identificado por `{id}`.

        Se o evento já ocorreu, a lista identifica os deputados que efetivamente
        registraram presença no evento. Se o evento ainda não ocorreu, a lista
        mostra os deputados que _devem_ participar do evento, por serem
        convidados ou por serem membros do(s) órgão(s) responsável pelo evento.
      operationId: getEventosDeputados
      parameters:
        - description: O identificador numérico da entidade.
          in: path
          name: id
          required: true
          schema:
            type: integer
            format: int64
        - in: header
          name: Accept
          schema:
            type: string
            enum:
              - application/json, application/xml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoEventosDeputado'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoEventosDeputado'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoEventosDeputado'
          description: Lista retornada com sucesso
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoEventosDeputado'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoEventosDeputado'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoEventosDeputado'
          description: Requisição inválida
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoEventosDeputado'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoEventosDeputado'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoEventosDeputado'
          description: Não encontrado
      summary: Os deputados participantes de um evento específico
      tags:
        - Eventos
  /eventos/{id}/orgaos:
    get:
      description: >-
        Retorna uma lista em que cada item é um conjunto mínimo de dados sobre
        o(s) órgão(s) responsável(veis) pelo evento identificado por `{id}`.
        Atualmente, mas _provisoriamente_, esta informação já vem incorporada ao
        retorno de `/eventos/{id}`, mas este _endpoint_ facilita a importação
        destes dados em planilhas eletrônicas.
      operationId: obterOrgaosDoEvento
      parameters:
        - description: O identificador numérico da entidade.
          in: path
          name: id
          required: true
          schema:
            type: integer
            format: int64
        - in: header
          name: Accept
          schema:
            type: string
            enum:
              - application/json, application/xml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoEventoOrgao'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoEventoOrgao'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoEventoOrgao'
          description: Lista retornada com sucesso
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoEventoOrgao'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoEventoOrgao'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoEventoOrgao'
          description: Requisição inválida
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoEventoOrgao'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoEventoOrgao'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoEventoOrgao'
          description: Não encontrado
      summary: Lista de órgãos organizadores do evento `{id}`
      tags:
        - Eventos
  /eventos/{id}/pauta:
    get:
      description: >-
        Se o evento `{id}` for de caráter deliberativo (uma reunião ordinária,
        por exemplo) este serviço retorna a lista de proposições previstas para
        avaliação pelos parlamentares. Cada item identifica, se as informações
        estiverem disponíveis, a proposição avaliada, o regime de preferência
        para avaliação, o relator e seu parecer, o resultado da apreciação e a
        votação realizada.
      operationId: getEventosPauta
      parameters:
        - description: O identificador numérico da entidade.
          in: path
          name: id
          required: true
          schema:
            type: integer
            format: int64
        - in: header
          name: Accept
          schema:
            type: string
            enum:
              - application/json, application/xml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoEventosPauta'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoEventosPauta'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoEventosPauta'
          description: Lista retornada com sucesso
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoEventosPauta'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoEventosPauta'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoEventosPauta'
          description: Requisição inválida
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoEventosPauta'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoEventosPauta'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoEventosPauta'
          description: Não encontrado
      summary: >-
        Lista de proposições que foram ou deverão ser avaliadas em um evento de
        caráter deliberativo
      tags:
        - Eventos
  /eventos/{id}/votacoes:
    get:
      description: >-
        Retorna uma lista de dados básicos sobre votações que tenham sido
        realizadas no evento identificado por `{id}`. Votações só ocorrem em
        eventos de caráter deliberativo. Dados complementares sobre cada votação
        listada podem ser obtidos no recurso `/votacoes/{id}`.


        Para compreender melhor os dados sobre votações, veja [a página de
        tutorial do Portal de Dados
        Abertos](https://dadosabertos.camara.leg.br/howtouse/2020-02-07-dados-votacoes.html).
      operationId: obterVotacoesPorEvento
      parameters:
        - description: O identificador numérico do evento do qual se deseja informações
          in: path
          name: id
          required: true
          schema:
            type: integer
            format: int64
        - in: header
          name: Accept
          schema:
            type: string
            enum:
              - application/json, application/xml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoVotacoes'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoVotacoes'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoVotacoes'
          description: Lista retornada com sucesso
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoVotacoes'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoVotacoes'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoVotacoes'
          description: Requisição inválida
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoVotacoes'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoVotacoes'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoVotacoes'
          description: Não encontrado
      summary: Informações detalhadas de votações sobre um evento específico
      tags:
        - Eventos
  /frentes:
    get:
      description: >-
        Retorna uma lista de informações sobre uma frente parlamentar - um
        agrupamento oficial de parlamentares em torno de um determinado tema ou
        proposta.


        As frentes existem até o fim da legislatura em que foram criadas, e
        podem ser recriadas a cada legislatura. Algumas delas são compostas por
        deputados e senadores.


        Um ou mais número de legislatura(s) pode(m) ser passado(s) como
        parâmetro, mas se for omitido são retornadas todas as frentes
        parlamentares criadas desde 2003.
      operationId: buscar
      parameters:
        - description: >-
            Número da(s) legislatura(s), separados por vírgulas, às quais os
            dados buscados devem corresponder.
          explode: false
          in: query
          name: idLegislatura
          required: false
          schema:
            type: array
          style: form
        - description: >-
            Número da página de resultados, a partir de 1, que se deseja obter
            com a requisição, contendo o número de itens definido pelo parâmetro
            itens. Se omitido, assume o valor 1.
          in: query
          name: pagina
          required: false
          schema:
            type: integer
            format: int32
        - description: >-
            Número máximo de itens na página que se deseja obter com esta
            requisição.
          in: query
          name: itens
          required: false
          schema:
            type: integer
            format: int32
        - in: header
          name: Accept
          schema:
            type: string
            enum:
              - application/json, application/xml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoFrentes'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoFrentes'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoFrentes'
          description: Lista retornada com sucesso
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoFrentes'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoFrentes'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoFrentes'
          description: Requisição inválida
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoFrentes'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoFrentes'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoFrentes'
          description: Não encontrado
      summary: Lista de frentes parlamentares de uma ou mais legislaturas
      tags:
        - Frentes
  /frentes/{id}:
    get:
      description: >-
        Este recurso traz informações detalhadas sobre a frente parlamentar
        identificada por `{id}`.
      operationId: obterDeputadoID
      parameters:
        - description: Identificador numérico da frente parlamentar.
          in: path
          name: id
          required: true
          schema:
            type: integer
            format: int64
        - in: header
          name: Accept
          schema:
            type: string
            enum:
              - application/json, application/xml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoFrenteID'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoFrenteID'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoFrenteID'
          description: Lista retornada com sucesso
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoFrenteID'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoFrenteID'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoFrenteID'
          description: Requisição inválida
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoFrenteID'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoFrenteID'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoFrenteID'
          description: Não encontrado
      summary: Informações detalhadas sobre uma frente parlamentar
      tags:
        - Frentes
  /frentes/{id}/membros:
    get:
      description: >-
        Uma lista dos deputados participantes da frente parlamentar identificada
        por `{id}` e os papéis que exerceram nessa frente (signatário,
        coordenador ou presidente).


        Observe que, mesmo no caso de frentes parlamentares mistas (compostas
        por deputados e senadores), são retornados apenas dados sobre os
        deputados.
      operationId: obterMembro
      parameters:
        - description: O identificador numérico da entidade.
          in: path
          name: id
          required: true
          schema:
            type: integer
            format: int64
        - in: header
          name: Accept
          schema:
            type: string
            enum:
              - application/json, application/xml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoMembroFrente'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoMembroFrente'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoMembroFrente'
          description: Lista retornada com sucesso
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoMembroFrente'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoMembroFrente'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoMembroFrente'
          description: Requisição inválida
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoMembroFrente'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoMembroFrente'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoMembroFrente'
          description: Não encontrado
      summary: Os deputados que participam de uma frente parlamentar
      tags:
        - Frentes
  /grupos:
    get:
      description: >-
        Este endpoint retorna uma lista em que cada item representa um dos
        grupos interparlamentares em que a Câmara teve representantes. As
        informações incluem nome, a resolução que criou o grupo e seu ano de
        publicação, e as mais recentes informações sobre situação, presidente e
        ofício de instalação.
      operationId: grupos
      parameters:
        - description: >-
            Número da página de resultados, a partir de 1, que se deseja obter
            com a requisição, contendo o número de itens definido pelo parâmetro
            itens. Se omitido, assume o valor 1.
          in: query
          name: pagina
          required: false
          schema:
            type: integer
            format: int32
        - description: >-
            Número máximo de itens na página que se deseja obter com esta
            requisição.
          in: query
          name: itens
          required: false
          schema:
            type: integer
            format: int32
        - description: >-
            O sentido da ordenação: `asc` para A a Z ou 0 a 9, e `desc` para Z a
            A ou 9 a 0.
          in: query
          name: ordem
          required: false
          schema:
            type: string
            default: ASC
        - description: >-
            Nome do campo pelo qual a lista será ordenada: `id`,
            `idLegislatura`.
          in: query
          name: ordenarPor
          required: false
          schema:
            type: string
            default: id
        - in: header
          name: Accept
          schema:
            type: string
            enum:
              - application/json, application/xml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoGrupos'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoGrupos'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoGrupos'
          description: Lista retornada com sucesso
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoGrupos'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoGrupos'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoGrupos'
          description: Requisição inválida
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoGrupos'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoGrupos'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoGrupos'
          description: Não encontrado
      summary: >-
        Os grupos de cooperação entre parlamentares brasileiros e de outros
        países
      tags:
        - Grupos
  /grupos/{id}:
    get:
      description: >-
        Todo o conjunto de informações disponíveis sobre o grupo parlamentar
        identificado por `{id}`. Além dos retornados por `/grupos`, há dados
        sobre o projeto de resolução que levou à criação do grupo,
        identificadores do mais recente documento e/ou ofício de instalação do
        grupo, datas de sua apresentação e de sua publicação, e identificação do
        autor do ofício.
      operationId: obterGruposID
      parameters:
        - description: Número identificador do Grupo.
          in: path
          name: id
          required: true
          schema:
            type: integer
            format: int64
        - in: header
          name: Accept
          schema:
            type: string
            enum:
              - application/json, application/xml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoGruposID'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoGruposID'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoGruposID'
          description: Lista retornada com sucesso
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoGruposID'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoGruposID'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoGruposID'
          description: Requisição inválida
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoGruposID'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoGruposID'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoGruposID'
          description: Não encontrado
      summary: Informações detalhadas sobre um determinado grupo interparlamentar
      tags:
        - Grupos
  /grupos/{id}/historico:
    get:
      description: >-
        Uma lista contendo todos os "retratos" das informações sujeitas a
        mudanças sobre o grupo parlamentar identificado por `{id}` &mdash; por
        exemplo, todos os ofícios de instalação dos grupos apresentados a cada
        legislatura desde sua criação, e eventuais substituições de presidentes.
      operationId: historico
      parameters:
        - description: Identificador numérico de Grupo histórico.
          in: path
          name: id
          required: true
          schema:
            type: integer
            format: int64
        - in: header
          name: Accept
          schema:
            type: string
            enum:
              - application/json, application/xml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoGruposHistorico'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoGruposHistorico'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoGruposHistorico'
          description: Lista retornada com sucesso
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoGruposHistorico'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoGruposHistorico'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoGruposHistorico'
          description: Requisição inválida
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoGruposHistorico'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoGruposHistorico'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoGruposHistorico'
          description: Não encontrado
      summary: As variações de estado que um grupo parlamentar teve ao longo do tempo
      tags:
        - Grupos
  /grupos/{id}/membros:
    get:
      description: >-
        Retorna uma lista de deputados ou senadores que são ou foram
        participantes do grupo interparlamentar identificado por `{id}`. Podem
        ser utilizados os parâmetros `dataInicio` e/ou `dataFim` para definir de
        qual período se deseja saber quem foram os participantes.


        Se nenhum parâmetro de tempo for utilizado, são retornados os
        integrantes registrados no momento da requisição (inclusive deputados e
        senadores que podem não estar em exercício). A lista será vazia se o
        grupo `{id}` ainda não tiver sido instalado na legislatura atual.
      operationId: membros
      parameters:
        - description: Número(s) identificador(es) de um Membro.
          in: path
          name: id
          required: true
          schema:
            type: integer
            format: int64
        - description: Data de início de um intervalo de tempo, no formato `AAAA-MM-DD`.
          in: query
          name: dataInicio
          required: false
          schema:
            type: string
        - description: Data de término de um intervalo de tempo, no formato `AAAA-MM-DD`.
          in: query
          name: dataFim
          required: false
          schema:
            type: string
        - description: >-
            O sentido da ordenação: `asc` para A a Z ou 0 a 9, e `desc` para Z a
            A ou 9 a 0.
          in: query
          name: ordem
          required: false
          schema:
            type: string
            default: ASC
        - description: 'Nome do campo pelo qual a lista será ordenada: `idLegislatura`.'
          in: query
          name: ordenarPor
          required: false
          schema:
            type: string
            default: idLegislatura
        - in: header
          name: Accept
          schema:
            type: string
            enum:
              - application/json, application/xml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoGruposMembros'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoGruposMembros'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoGruposMembros'
          description: Lista retornada com sucesso
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoGruposMembros'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoGruposMembros'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoGruposMembros'
          description: Requisição inválida
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoGruposMembros'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoGruposMembros'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoGruposMembros'
          description: Não encontrado
      summary: Lista de parlamentares integrantes de um grupo interparlamentar
      tags:
        - Grupos
  /legislaturas:
    get:
      description: >-
        Legislatura é o nome dado ao período de trabalhos parlamentares entre
        uma eleição e outra.


        Este serviço retorna uma lista em que cada item contém as informações
        básicas sobre um desses períodos.


        Os números que identificam as legislaturas são sequenciais, desde a
        primeira que ocorreu.
      operationId: getLegislatura
      parameters:
        - description: >-
            Um ou mais número(s) de legislatura(s), separados por vírgulas. Se
            omitido, serão retornados dados sobre todas as legislaturas.
          explode: false
          in: query
          name: id
          required: false
          schema:
            type: array
          style: form
        - description: >-
            Uma ou mais data(s) no formato `AAAA-MM-DD`, separadas por vírgulas.
            Se este parâmetro estiver presente, a requisição retornará as
            informações básicas sobre as legislaturas que estavam em curso nas
            datas informadas.
          in: query
          name: data
          required: false
          schema:
            type: string
        - description: >-
            Número da página de resultados, a partir de 1, que se deseja obter
            com a requisição, contendo o número de itens definido pelo parâmetro
            itens. Se omitido, assume o valor 1.
          in: query
          name: pagina
          required: false
          schema:
            type: integer
            format: int32
        - description: >-
            Número máximo de itens na página que se deseja obter com esta
            requisição.
          in: query
          name: itens
          required: false
          schema:
            type: integer
            format: int32
        - description: >-
            O sentido da ordenação: `asc` para A a Z ou 0 a 9, e `desc` para Z a
            A ou 9 a 0.
          in: query
          name: ordem
          required: false
          schema:
            type: string
            default: DESC
        - description: >-
            Qual dos elementos da representação deverá ser usado para aplicar
            ordenação à lista.
          in: query
          name: ordenarPor
          required: false
          schema:
            type: string
            default: id
        - in: header
          name: Accept
          schema:
            type: string
            enum:
              - application/json, application/xml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoLegislaturas'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoLegislaturas'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoLegislaturas'
          description: Lista retornada com sucesso
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoLegislaturas'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoLegislaturas'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoLegislaturas'
          description: Requisição inválida
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoLegislaturas'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoLegislaturas'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoLegislaturas'
          description: Não encontrado
      summary: Os períodos de mandatos e atividades parlamentares da Câmara
      tags:
        - Legislaturas
  /legislaturas/{id}:
    get:
      description: >-
        Retorna informações adicionais sobre o período de atividades da Câmara
        identificado por `{id}`.
      operationId: obterPorId_1
      parameters:
        - description: Número da legislatura da qual se quer os dados.
          in: path
          name: id
          required: true
          schema:
            type: integer
            format: int64
        - in: header
          name: Accept
          schema:
            type: string
            enum:
              - application/json, application/xml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoLegislaturasDetalhe'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoLegislaturasDetalhe'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoLegislaturasDetalhe'
          description: Lista retornada com sucesso
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoLegislaturasDetalhe'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoLegislaturasDetalhe'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoLegislaturasDetalhe'
          description: Requisição inválida
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoLegislaturasDetalhe'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoLegislaturasDetalhe'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoLegislaturasDetalhe'
          description: Não encontrado
      summary: Informações extras sobre uma determinada legislatura da Câmara
      tags:
        - Legislaturas
  /legislaturas/{id}/lideres:
    get:
      description: >-
        Retorna uma lista de parlamentares que ocuparam cargos de liderança ao
        longo da legislatura `{id}`. Cada item identifica um parlamentar, uma
        bancada (partido, bloco ou lideranças de situação e oposição), o título
        de liderança exercido e o período de exercício do parlamentar nesta
        posição.
      operationId: obterLideres_1
      parameters:
        - description: Número da legislatura da qual se deseja os dados.
          explode: false
          in: path
          name: id
          required: true
          schema:
            type: array
          style: form
        - description: >-
            Número da página de resultados, a partir de 1, que se deseja obter
            com a requisição, contendo o número de itens definido pelo parâmetro
            itens. Se omitido, assume o valor 1.
          in: query
          name: pagina
          required: false
          schema:
            type: integer
            format: int32
        - description: >-
            Número máximo de itens na página que se deseja obter com esta
            requisição.
          in: query
          name: itens
          required: false
          schema:
            type: integer
            format: int32
        - in: header
          name: Accept
          schema:
            type: string
            enum:
              - application/json, application/xml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoLegislaturaIDLideres'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoLegislaturaIDLideres'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoLegislaturaIDLideres'
          description: Lista retornada com sucesso
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoLegislaturaIDLideres'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoLegislaturaIDLideres'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoLegislaturaIDLideres'
          description: Requisição inválida
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoLegislaturaIDLideres'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoLegislaturaIDLideres'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoLegislaturaIDLideres'
          description: Não encontrado
      summary: Lista de líderes, vice-líderes e representantes na legislatura
      tags:
        - Deputados
        - Lideres
        - Legislaturas
  /legislaturas/{id}/mesa:
    get:
      description: >-
        Retorna uma lista com dados básicos sobre todos os deputados que
        ocuparam algum posto na Mesa Diretora da Câmara em algum período de
        tempo dentro da legislatura identificada por `{id}`.


        Normalmente, cada legislatura tem duas Mesas Diretoras, com presidente,
        dois vice-presidentes, quatro secretários parlamentares e os suplentes
        dos secretários.
      operationId: obterMesaPorId
      parameters:
        - description: Número da legislatura da qual se deseja os dados.
          in: path
          name: id
          required: true
          schema:
            type: integer
            format: int64
        - description: >-
            Dia de início do intervalo de tempo do qual se deseja saber a
            composição da Mesa, no formato `AAAA-MM-DD`.
          in: query
          name: dataInicio
          required: false
          schema:
            type: string
        - description: >-
            Data de término do intervalo de tempo do qual se deseja saber a
            composição da Mesa, no formato `AAAA-MM-DD`.
          in: query
          name: dataFim
          required: false
          schema:
            type: string
        - in: header
          name: Accept
          schema:
            type: string
            enum:
              - application/json, application/xml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoLegislaturaIDMesa'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoLegislaturaIDMesa'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoLegislaturaIDMesa'
          description: Lista retornada com sucesso
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoLegislaturaIDMesa'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoLegislaturaIDMesa'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoLegislaturaIDMesa'
          description: Requisição inválida
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoLegislaturaIDMesa'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoLegislaturaIDMesa'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoLegislaturaIDMesa'
          description: Não encontrado
      summary: Quais deputados fizeram parte da Mesa Diretora em uma legislatura
      tags:
        - Deputados
        - Legislaturas
  /orgaos:
    get:
      description: >-
        Retorna uma lista de informações básicas sobre os órgãos legislativos e
        seus identificadores, tipos e descrições.


        Pela query string é possível filtrar a lista por identificadores, tipos
        de órgãos, sigla, situação do órgão ou período de tempo em que os órgãos
        estiveram ativos, se aplicável.
      operationId: listar_1
      parameters:
        - description: Um ou mais identificador(es) numérico(s), separados por vírgulas.
          explode: false
          in: query
          name: id
          required: false
          schema:
            type: array
          style: form
        - description: >-
            Uma ou mais sigla(s) oficialmente usadas para designar um ou mais
            órgão(s) da Câmara, separadas por vírgulas.
          explode: false
          in: query
          name: sigla
          required: false
          schema:
            type: array
          style: form
        - description: >-
            Um ou mais identificador(es) numérico(s) do(s) tipo(s) de órgãos que
            se deseja buscar dados. Pode(m) ser obtido(s) em
            `/referencias/orgaos/codTipoOrgao`.
          explode: false
          in: query
          name: codTipoOrgao
          required: false
          schema:
            type: array
          style: form
        - description: >-
            Data de início, no formato `AAAA-MM-DD`, de um intervalo de tempo no
            qual os órgãos buscados devem ter estado em atividade.
          in: query
          name: dataInicio
          required: false
          schema:
            type: string
        - description: >-
            Data de término, no formato `AAAA-MM-DD`, de um intervalo de tempo
            no qual os órgãos buscados devem ter estado em atividade.
          in: query
          name: dataFim
          required: false
          schema:
            type: string
        - description: >-
            Número da página de resultados, a partir de 1, que se deseja obter
            com a requisição, contendo o número de itens definido pelo parâmetro
            itens. Se omitido, assume o valor 1.
          in: query
          name: pagina
          required: false
          schema:
            type: integer
            format: int32
        - description: >-
            Número máximo de itens na página que se deseja obter com esta
            requisição.
          in: query
          name: itens
          required: false
          schema:
            type: integer
            format: int32
            default: 100
        - description: >-
            O sentido da ordenação: `asc` para A a Z ou 0 a 9, e `desc` para Z a
            A ou 9 a 0.
          in: query
          name: ordem
          required: false
          schema:
            type: string
            default: ASC
        - description: >-
            Nome do campo pelo qual a lista será ordenada: `id`, `sigla`,
            `nome`, `apelido`, `codTipoOrgao`, `tipoOrgao`, `dataInicio` ou
            `dataFim`
          in: query
          name: ordenarPor
          required: false
          schema:
            type: string
            default: id
        - in: header
          name: Accept
          schema:
            type: string
            enum:
              - application/json, application/xml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoOrgaos'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoOrgaos'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoOrgaos'
          description: Lista retornada com sucesso
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoOrgaos'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoOrgaos'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoOrgaos'
          description: Requisição inválida
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoOrgaos'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoOrgaos'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoOrgaos'
          description: Não encontrado
      summary: A lista das comissões e outros órgãos legislativos da Câmara
      tags:
        - Órgãos
  /orgaos/{id}:
    get:
      description: >-
        Retorna todas as informações disponíveis sobre o órgão da Câmara
        identificado por `id`.
      operationId: getOrgaoDetalhe
      parameters:
        - description: Identificador numérico do órgão
          in: path
          name: id
          required: true
          schema:
            type: integer
            format: int64
        - in: header
          name: Accept
          schema:
            type: string
            enum:
              - application/json, application/xml
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoOrgaoDetalhe'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoOrgaoDetalhe'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoOrgaoDetalhe'
          description: Lista retornada com sucesso
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoOrgaoDetalhe'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoOrgaoDetalhe'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoOrgaoDetalhe'
          description: Requisição inválida
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoOrgaoDetalhe'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoOrgaoDetalhe'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResultadoOrgaoDetalhe'
          description: Não encontrado
      summary: Informações detalhadas sobre um órgão da Câmara
      tags:
        - Órgãos
  /orgaos/{id}/eventos:
    get:
      description: >-
        Retorna uma lista de informações resumidas dos eventos realizados (ou a
        realizar) pelo órgão legislativo identificado por `{id}`.

        Por padrão, são retornados eventos em andamento ou previstos para o
        mesmo dia, dois dias antes e dois dias depois da requisição. Parâmetros
[...]
